#supersized-loader { position:absolute; top:50%; left:50%; z-index:0; width:60px; height:60px; margin:-30px 0 0 -30px; text-indent:-999em;}
#supersized {  display:block; position:absolute;  overflow:hidden; z-index:-999; height:100%; width:100%; }
#supersized img { width:100%; height:auto; position:relative; outline:none; border:none; }
#supersized.speed img { -ms-interpolation-mode:nearest-neighbor; image-rendering: -moz-crisp-edges; } /*Speed*/
#supersized.quality img { -ms-interpolation-mode:bicubic; image-rendering: optimizeQuality; }     /*Quality*/
#supersized li { display:block; list-style:none; z-index:-30; position:fixed; overflow:hidden; top:0; left:0; width:100%; height:auto; background:#3b3b3b; }
#supersized a { width:100%; height:100%; display:block; }
#supersized li.prevslide { z-index:-20; }
#supersized li.activeslide { z-index:-10; }
#supersized li.image-loading { background:#3b3b3b; width:100%; height:100%; }#supersized li.image-loading img{ visibility:hidden; }
#supersized li.prevslide img, #supersized li.activeslide img{ display:inline; }



@black: #000000;
@white: #fff;
@red: #cf1814;
@blue: #00adec;
@darkblue: #008de3;
@gray: #464646;
@moregray: #dcddde;
@helvetica: 'Helvetica Neue', 'Arial';
@amasso: 'futura-pt' 'Helvetica Neue', 'Arial';
@biggest: 28px;
@big: 24px;
@medium: 20px;
@small: 14px;
@smallest: 10px;

@screen-xs: 480px;
@screen-sm: 768px;
@screen-md: 992px;
@screen-lg: 1200px;

/* General parameters */

body {
  background: @black;
  color: @white;
  font-family: @amasso;
  text-transform: uppercase;
}

.container {
  max-width: none !important;
  width: 620px;
}

h1, h2, h3, h4, h5 {
  font-family: @amasso;
  text-transform: uppercase;
}


h2 {
  margin: 10px 0;
}

/* Configs */

.bordered {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.borderedleft {
  border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px 0 0 5px;
}

.borderedright {
  border-radius: 0 5px 5px 0;
  -moz-border-radius:  0 5px 5px 0;
  -webkit-border-radius:  0 5px 5px 0;
}

.borderedrange {
  border-radius: 5px 0 0 0;
  -moz-border-radius: 5px 0 0 0;
  -webkit-border-radius: 5px 0 0 0;
}

.boxsized {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.boxsized {
  box-sizing: border-padding;
  -moz-box-sizing: border-padding;
  -webkit-box-sizing: border-padding;
}

.removelist {
  list-style: none;
  margin: 0;
  padding: 0;
}

.shadow {
  -webkit-box-shadow: 0 8px 6px -6px black;
     -moz-box-shadow: 0 8px 6px -6px black;
          box-shadow: 0 8px 6px -6px black;
}

.textshadow {
  text-shadow: 1px 1px 1px (@gray + #222);
}

.textshadowwhite {
  text-shadow: 0px 1px 1px @white;
}
.transition {
  transition: background  0.2s ease;
  -webkit-transition: background 0.2s ease;
  -moz-transition: background 0.2s ease;
  -o-transition: background 0.2s ease;
}

.transitionborder {
   transition : border 250ms linear; 
  -webkit-transition : border 250ms linear; 
  -moz-transition : border 250ms linear;
  -o-transition : border 250ms linear;    
}

.transitionbackground {
  transition : background 250ms ease-out; 
  -webkit-transition : background 250ms ease-out; 
  -moz-transition : background 250ms ease-out;
  -o-transition : background 250ms ease-out;    
}

.transparent {
  zoom: 1;
  filter:alpha(opacity=85);
  -moz-opacity: 0.85;
  -khtml-opacity: 0.85;
  opacity: 0.85;
}

.notransparent {
  zoom: 1;
  filter:alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
}

.noborder {
  border-radius: 1px;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
}

.btn-amasso {
  width: 100%;
  height: 55px;
  padding: 5px 0;
  background: @red;
  text-align: center;
  margin: 20px 0;
  font-size: @biggest;
  color: @white;
  .noborder;
  .shadow;
  &:hover {
    background: (@red + #111);
    color: @gray;
    text-decoration: none;
  }
}

/*
 * Top Section
 */

.logo {
  margin: 20px 0;
  img {
    margin: 0 auto;
  }
}

.main {
  background: @black url('../images/bg.png') top center no-repeat;
  height: 710px;
  
  #video-wrapper {
    .video {
       iframe {
        width: 100%;
        height: 370px;
        z-index: -100;
        .shadow;
      }
    
    }
    .wheels {
      position: relative;
      
      margin: 20px 0;
      .idemo, .trinidy, .venix {
        width: 100%;
        img.img-responsive {
        width: 100%;
        .shadow;
        &:hover {
          cursor: pointer;
        }
      }
      }
      
      #idemo, #trinidy, #venix {
        display: none;
        position: absolute;
        width: 100%;
        height: 138px;
        overflow: hidden;
        top: 0;
        left: 0;
        &:hover {
          cursor: pointer;
        }
      }
    }
    #contact {
      z-index: 1000000;
      .modal-content {
        background-color: @gray;
        color: @white;
        .noborder;
      }
      .modal-body {
        padding: 10px 20px;
      }
    }
    
  }
}

.wpcf7 {
  .wpcf7-form {
    input[type="text"], input[type="email"], input[type="tel"],  input[type="submit"], textarea, select[multiple], select[size] {
      .noborder;
    }
    
    p {
      color: @white;
      font-size: (@small - 1px);
      span.wpcf7-not-valid-tip {
        position: absolute;
        top: -28px;
        left: 2px;
        background: @gray;
        font-size: 10pt;
        width: 270px;
        padding: 2px 6px;
        border: none;
        color: (@red + #444);
      }
    }
    textarea {
      height: 98px;
    }
    select[multiple], select[size] {
      height: 96px;
    }
    input[type="submit"] {
      .btn-amasso;
      border: none;
      font-size: @small;
      text-transform: uppercase;
      padding: 2px 0;
      height: 40px;
      margin: 5px 0;
    }
    .wpcf7-validation-errors {
      background: @gray;
     border: 1px solid (@red + #111);
     color: (@red + #444);
     
     border: 1px solid @white;
     
      .shadow;
    }
  }
}

.modal-backdrop.in {
  opacity: 0.7;
  -moz-opacity: 0.7;
  -webkit-opacity: 0.7;
  filter: alpha(opacity=70);
}

#footer {
  margin-top: 20px;
  .vossen {
    float: right;
    margin-right: 5px;
  }
}

